RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=app_user
RABBITMQ_PASSWORD=user
# Temporary environment variable to prevent starting the container, for debugging the completer
DONT_START_CONTAINER=S
